{% extends "layout.html" %}

{% block title %}
    About
{% endblock %}

{% block main %}

    <div class="body-element">
        <h3 align="center">About</h3>
        <p>The intention of this site is to encourage people to discover and listen to independent radio.</p>
        <p>The creators of this site do not own any of the audio content available for listening on this site, all ownership lies with the respective stations.</p>
    </div>
    <div class="body-element">
        <p>Contact: bitcastleradio@gmail.com</p>
    </div>

{% endblock %}
